h1 {
    color: rgb(1, 1, 1);
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.login-input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}